:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #222;    
}


* { 
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}


html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Audi Type extended',Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    src: url('AudiTypeScreen-Normal.eot');
    box-sizing: border-box;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    
}

.grid__full-width {
    width: 100%;
}


.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -2px;
    margin-right: -2px;
    
}

.grid__column-3 {
    padding-left: 2px;
    padding-right: 2px;
    width: 33.3334%;
}


.grid__column-5 {
    width: 41.6665%;
    padding-left: 15px;
    padding-right: 15px;
}

.grid__column-7 {
    padding-left: 15px;
    padding-right: 15px;
    width: 58.3334%;
}





