@font-face {
    font-family: 'Audi Type Extended';
    src: url('AudiType-ExtendedBold.eot');
    src: local('Audi Type Extended Bold'), local('AudiType-ExtendedBold'),
        url('AudiType-ExtendedBold.eot?#iefix') format('embedded-opentype'),
        url('AudiType-ExtendedBold.woff2') format('woff2'),
        url('AudiType-ExtendedBold.woff') format('woff'),
        url('AudiType-ExtendedBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Audi Type Screen';
    src: url('AudiTypeScreen-Bold.eot');
    src: local('Audi Type Screen Bold'), local('AudiTypeScreen-Bold'),
        url('AudiTypeScreen-Bold.eot?#iefix') format('embedded-opentype'),
        url('AudiTypeScreen-Bold.woff2') format('woff2'),
        url('AudiTypeScreen-Bold.woff') format('woff'),
        url('AudiTypeScreen-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Audi Type Screen';
    src: url('AudiTypeScreen-Light.eot');
    src: local('Audi Type Screen Light'), local('AudiTypeScreen-Light'),
        url('AudiTypeScreen-Light.eot?#iefix') format('embedded-opentype'),
        url('AudiTypeScreen-Light.woff2') format('woff2'),
        url('AudiTypeScreen-Light.woff') format('woff'),
        url('AudiTypeScreen-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Audi Type Extended';
    src: url('AudiType-ExtendedNormal.eot');
    src: local('Audi Type Extended Normal'), local('AudiType-ExtendedNormal'),
        url('AudiType-ExtendedNormal.eot?#iefix') format('embedded-opentype'),
        url('AudiType-ExtendedNormal.woff2') format('woff2'),
        url('AudiType-ExtendedNormal.woff') format('woff'),
        url('AudiType-ExtendedNormal.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Audi Type Screen';
    src: url('AudiTypeScreen-Normal.eot');
    src: local('Audi Type Screen Normal'), local('AudiTypeScreen-Normal'),
        url('AudiTypeScreen-Normal.eot?#iefix') format('embedded-opentype'),
        url('AudiTypeScreen-Normal.woff2') format('woff2'),
        url('AudiTypeScreen-Normal.woff') format('woff'),
        url('AudiTypeScreen-Normal.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

